.bg-green{
    background-color: #04aa6d !important;
}
.navbar{
    padding: 0px 0px !important;
}
.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 600 !important;
    padding: 8px 18px;
    border-right: 1px solid #fff;
}

.navbar-nav .nav-link.nav-item a {
    color: #fff !important;
    font-weight: 600 !important;
    border-right: 1px solid;
    padding: 8px 18px;
}
.navbar-nav .nav-link:hover {
    text-decoration: none;
}
.card-shadow {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.card-body a h2{
color: #000;
font-size: 24px;
}

.category-heading{
    padding: 10px 12px;
    border-left: 6px solid #000;
    background-color: #ddd;
}
.post-heading{
    font-size: 26px;
    color: #000;
}
.owl-nav button.owl-next , .owl-nav button.owl-prev{
    color: #fff !important;
    margin-left: 10px;
    background-color: orange !important;
    border: none;
    outline: none;
    font-size: 20px !important;
    height: 28px !important;
    width: 38px !important;

}
.underline{
    height: 3px;
    width: 60px;
    background-color: #e71212;
    margin-bottom: 10px;
}
.underline p
{
    width: 100%;
}
.bg-gray
{
    background-color: #ddd;
}
.navbar-container {
    position: sticky;
    top: 0;
    z-index: 1000; 
    /* background-color: #fff; 
 */}
.post-description{
    overflow-y: scroll;
    scrollbar-width: none;
}
.post-code-bg{
    width: fit-content;
    min-width: 100%;
    background-color: #212121;
    width: 100% !important;
    overflow-x: scroll !important;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}